<div id="chat-container">
  <app-chat-message 
    *ngFor="let message of getUsersMessages()" 
    [user]="message"
  ></app-chat-message>

  <div class="chat-message-user" *ngIf="">
    <app-chat-message [user]="userMessage"></app-chat-message>
  </div>

  <mat-card class="user-input-message">
    <form (ngSubmit)="sendMessage()" class="display-flex">
      <mat-form-field appearance="outline">
        <mat-label>Mensagem:</mat-label>
        <input [(ngModel)]="userMessage.message" name="message" matInput placeholder="Escreva uma mensagem...">
      </mat-form-field>

      <button type="submit" mat-fab color="primary" aria-label="send message button">
        <mat-icon>send</mat-icon>
      </button>
    </form>
  </mat-card>
</div>